
<div class="row">
    <div class="col-lg-5 col-md-5">
        <div class="card">
            <div class="card-body">
               <div class="row">
                 <div class="col-12">
                   <h5>Agregar Tipos de Prestaciones </h5>
                 </div>
                  <div class="col-12">
                    <div class="form-group">
                      <label class="control-label">Nombre</label>
                      <input type="text" #nombre ([ngModel])="nombre" class="form-control">
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <label class="control-label">Nombre Corto</label>
                      <input type="text" #shortname ([ngModel])="shortname" class="form-control">
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <label class="control-label">Precio</label>
                      <input type="text" #precio ([ngModel])="precio" class="form-control">
                    </div>
                  </div>
                  <div class="col-6"></div>
                  <div class="col-6 containerButton">
                      <button class="btn btn-warning btn-block boton" (click)="savePrestation(nombre, shortname, precio)">
                        Guardar Especialidad
                      </button>
                  </div>
            </div>
        </div>
    </div>
  </div>
  <div class="col-lg-7 col-md-7">
    <div class="card">
      <div class="card-body">
            <div class="col-12">
              <h5>Las Prestaciones</h5>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>#</th>
                              <th>Nombre</th>
                              <th>Nombre corto</th>
                              <th>Edición</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor=" let e of provisions; let i = index">
                              <td>{{i + 1}}</td>
                              <td>{{e.payload.doc.data().name}}</td>
                              <td>S/ {{e.payload.doc.data().precio}}</td>
                              <td> 
                                <button class="btn btn-light btn-circle btnContainer"
                                (click)="editSpecialty(e)">
                                  <span class="material-icons botonEdit"> mode</span>
                                </button>
                                <button class="btn btn-light btn-circle  btnContainer" (click)="deletePrestation(e)">
                                  <span class="material-icons botonEdit">delete</span>
                                </button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
         </div>
          </div>
      </div>
  </div>

