<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-9">
        <div class="row page-titles">
          <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Crear Paciente</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-4">
                <div class="card bg-warning">
                  <div class="card-body" (click)="openModalAllergys()">
                    <div class="d-flex no-block">
                      <div class="m-r-20 align-self-center"><img src="../assets/images/icon/income-w.png"
                          alt="Income" /></div>
                      <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">Alergias</h6>
                        <h2 class="m-t-0 text-white">953,000</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card bg-success">
                  <div class="card-body" (click)="openModalFinancers()">
                    <div class="d-flex no-block">
                      <div class="m-r-20 align-self-center"><img src="../assets/images/icon/expense-w.png"
                          alt="Income" /></div>
                      <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">Financiadores</h6>
                        <h2 class="m-t-0 text-white">236,000</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card bg-primary">
                  <div class="card-body" (click)="openModalContacts()">
                    <div class="d-flex no-block">
                      <div class="m-r-20 align-self-center"><img src="../assets/images/icon/assets-w.png"
                          alt="Income" /></div>
                      <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">Contactos</h6>
                        <h2 class="m-t-0 text-white">987,563</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-12">
            <div class="card">
              <div class="card-body p-b-0">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs customtab" role="tablist">
                  <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#infogeneral"
                      role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span
                        class="hidden-xs-down">Info Básica</span></a> </li>
                  <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#infocontacto" role="tab"><span
                        class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Info
                        Contacto</span></a> </li>
                  <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profession" role="tab"><span
                        class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">Profesión y
                        creencias</span></a> </li>
                </ul>
                <!-- Tab panes -->
                <form [formGroup]="createForm" (ngSubmit)="onSaveForm()">
                  <div class="tab-content">
                    <div class="tab-pane active" id="infogeneral" role="tabpanel">
                      <div class="p-20">
                        <div class="row">
                          <div class="col-lg-12">
                            <h3 class="card-title">Información del paciente</h3>
                            <hr>
                            <div class="row p-t-16">
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label class="control-label">Dni</label>
                                  <input type="text" id="nombre" class="form-control" formControlName="dni"
                                    placeholder="4444 4444">
                                </div>
                              </div>
                              <div class="col-md-4">
                                <!-- <div class="form-group">
                                                              <label class="control-label">NHC</label>
                                                                  <input type="text" id="nombre" class="form-control" placeholder="4444 4444">
                                                          </div> -->
                              </div>
                              <div class="col-md-4"></div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label class="control-label">Nombre</label>
                                  <input type="text" id="nombre" class="form-control" placeholder="Juana María"
                                    formControlName="name">
                                  <!-- <small class="form-control-feedback"> This is inline help </small> -->
                                </div>
                              </div>
                              <!--/span-->
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label class="control-label">Apellido Paterno</label>
                                  <input type="text" id="lastName" class="form-control form-control-danger"
                                    formControlName="apellidop" placeholder="Perez">
                                  <!-- <small class="form-control-feedback"> This field has error. </small>  -->
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label class="control-label">Apellido Materno</label>
                                  <input type="text" id="lastName" class="form-control form-control-danger"
                                    formControlName="apellidom" placeholder="Perez">
                                  <!-- <small class="form-control-feedback"> This field has error. </small>  -->
                                </div>
                              </div>
                              <!--/span-->

                              <div class="col-md-3">
                                <div class="form-group">
                                  <label class="control-label">Fecha de nac.</label>
                                  <input type="date" class="form-control" placeholder="dd/mm/yyyy"
                                    formControlName="apellidom">
                                </div>
                              </div>
                              <div class="col-md-3">
                                <div class="form-group">
                                  <label class="control-label">Edad</label>
                                  <input type="text" class="form-control" placeholder="31 años 4 meses">
                                </div>
                              </div>
                              <div class="col-md-3">
                                <div class="form-group">
                                  <label class="control-label">Estado civil</label>
                                  <select class="form-control custom-select">
                                    <option value="">Soltero</option>
                                    <option value="">Casado</option>
                                    <option value="">Viudo</option>
                                    <option value="">Divorciado</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-3">
                                <div class="form-group">
                                  <label class="control-label">Genero</label>
                                  <select class="form-control custom-select">
                                    <option value="">Hombre</option>
                                    <option value="">Mujer</option>
                                    <option value="">Sin especificar</option>
                                  </select>
                                  <!-- <small class="form-control-feedback"> Select your gender </small>  -->
                                </div>
                              </div>
                            </div>


                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="tab-pane  p-20" id="infocontacto" role="tabpanel">
                      <h3 class="box-title ">Comunicación</h3>
                      <hr>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Celular</label>
                            <input type="telf" class="form-control">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Telf fijo</label>
                            <input type="telf" class="form-control">
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="control-label">Email</label>
                            <input type="mail" class="form-control" placeholder="juana@prueba.com">
                          </div>
                        </div>
                      </div>
                      <h3 class="box-title ">Dirección</h3>
                      <hr>
                      <div class="row">
                        <div class="col-md-4 ">
                          <div class="form-group">
                            <label>País</label>
                            <input type="text" class="form-control">
                          </div>
                        </div>


                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Provincia</label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Departamento</label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Distrito</label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-md-8">
                          <div class="form-group">
                            <label>Dirección</label>
                            <input type="text" class="form-control">
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="tab-pane p-20" id="profession" role="tabpanel">
                      <h3 class="box-title ">Info contacto</h3>
                      <hr>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <h5>Ocupación</h5>
                            <select class="selectpicker" data-style="form-control btn-secondary">
                              <option>Doctor</option>
                              <option>Abogado</option>
                              <option>Profesor</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <h5>Estudios</h5>
                            <select class="selectpicker" data-style="form-control btn-secondary">
                              <option>Primaria</option>
                              <option>Secundaria</option>
                              <option>Tecnica</option>
                              <option>universitaria</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <h5>Idioma</h5>
                            <select class="selectpicker" data-style="form-control btn-secondary">
                              <option>Español</option>
                              <option>Quechua</option>
                              <option>Inglés</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <h5>Religión</h5>
                            <select class="selectpicker" data-style="form-control btn-secondary">
                              <option>Católica</option>
                              <option>Cristiana</option>
                              <option>Testigo de Jehova</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </form>
              </div>
            </div>

          </div>

        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <h3 class="box-title ">HC Nº 44539552</h3>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <div class="checkbox checkbox-success">
                    <input id="checkbox1" type="checkbox">
                    <label for="checkbox1"> Asignar HC</label>
                  </div>
                </div>
              </div>
              <!-- <div class="col-md-6">
                                     <div class="form-group">
                                        <label class="control-label">NHC</label>
                                        <input type="text" id="nombre" class="form-control" placeholder="4444 4444">
                                     </div>
                                </div> -->
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Tipo</label>
                  <input type="text" id="nombre" class="form-control" placeholder="Provisional">
                </div>
              </div>
              <!--               <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Archivo</label>
                  <input type="text" id="nombre" class="form-control" placeholder="4444 4444">
                </div>
              </div> -->
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h3 class="box-title ">Última actualización</h3>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Profesional</label>
                  <input type="text" id="nombre" class="form-control" placeholder="Admision 1">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Fecha</label>
                  <input type="date" id="nombre" class="form-control" placeholder="12/01/20">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Hora</label>
                  <input type="hour" id="nombre" class="form-control" placeholder="03:40">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-block btn-success"> <i class="fa fa-check"></i> Guardar</button>
        </div>


      </div>
    </div>



  </div>
</div>
