<p>contactos works!</p>
<div class="card">
    <div class="card-body">
        <h3 class="box-title ">Contacto de emergencia</h3>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                   <label class="control-label">Nombre</label>
                   <input type="text" id="nombre" class="form-control" >
                </div>
           </div>
           <div class="col-md-4">
            <div class="form-group">
               <label class="control-label">Apellido Paterno</label>
               <input type="text" id="nombre" class="form-control" >
            </div>
       </div>
       <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Apellido Materno</label>
                <input type="text" id="nombre" class="form-control" >
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Dni</label>
                <input type="number" id="nombre" class="form-control" >
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Telefono</label>
                <input type="tel" id="nombre" class="form-control" >
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Email</label>
                <input type="mail" id="nombre" class="form-control" >
            </div>
        </div>
        </div>
    </div>
</div>