.card {
  margin-bottom: 10px;
}

.containerImg img {
  width: 40px;
}

.center {
  text-align: center;
}

li {
  list-style-type: none;
}

.tituloBusqueda {
  color: #0b75d8;
}

.border {
  border-radius: 35px;
}

.titulo {
  color: #0b75d8;
  font-weight: 600;
  font-size: .7em;
}

.tituloCabecera {
  color: #0b75d8;
  font-weight: 400;
}
