<div class="col-lg-12">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="control-label" for="lun">Busca por Especialidad</label>
            <input id="search" type="text" class="form-control" placeholder="Buscar Doctor">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="control-label" for="lun">Busca por Nombre</label>
            <input id="search" type="text" class="form-control" placeholder="Buscar Doctor">
          </div>
        </div>
      </div>
    </div>
  </div>
  <h3>Doctores</h3>
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-3 col-md-3" *ngFor="let doctor of doctors">
        <div class="card" >
          <div class="el-card-item">
            <img src="../assets/images/users/1.jpg" style="width:100%;" alt="">
            <div class="el-card-content">
              <h5 class="box-title">{{doctor.data.name}} {{doctor.data.lastname}}</h5> <small>{{doctor.data.especialidad}}</small>
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
