
h5 {
  margin-top: 10px;
}
small {
  text-align: center;
  font-size: .9em !important;
  margin-top: -20px !important;
  padding-bottom:10px;
  color:#161d6f;
}

.el-card-content {
  text-align: center;
  color: grey;
}
